*
{
	margin: 0;
}

.btnBlock
{
	background: #ffffff;
	width: 100%;
	height: 100%;
	position: fixed;
}

.btn
{
	width: 100px;
	height: 20px;
	outline: 2px solid grey;
	margin: 10px;
	text-align: center;
	cursor: pointer;
}

.eventBlock
{
	background: rgba(128, 128, 128, 0.7);
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: -1000;
}

.event
{
	outline: 2px solid lime;
	width: 200px;
	height: 200px;
	transform: scale(0, 0);
	transition: transform 0.3s linear;
}
